html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#canvas1 {
    image-rendering: pixelated;
    font-family: 'Bangers', cursive;
}

.hiddenAsset {
    display: none;
}

#fullScreenButton {
    position: absolute;
    font-size: 10px;
    padding: 10px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}